md-toast
	position fixed

md-toast.md-success-toast-theme
	.md-toast-content
		background-color: #5cb85c

md-toast.md-warning-toast-theme
	.md-toast-content
		background-color: #f0ad4e

md-toast.md-error-toast-theme
	.md-toast-content
		background-color: #d9534f

md-toast.md-primary-toast-theme
	.md-toast-content
		background-color: #337ab7