div(layout='row' flex )

	md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left'
	md-is-open='vm.opened'
	md-is-locked-open='vm.sidenavLocked'
	md-swipe-left='vm.opened=false'
	ui-view='sidenav'
	)

	div(layout='column' flex ui-view='toolbar')